/*

TITLE: 
AUTHOR: Sungkwon Kudo
PURPOSE: css for 
LAST MODIFIED BY: Sungkwon Kudo
MODIFICATION HISTORY: 
: Date created.
*/

html {
	margin: 0px; 
    padding: 0px;
    font-family: Helvetica,Arial;
}

p {

}

body {
	height: 3000px;
}

.fixed {
	position: fixed;
    
}

#message{
    text-align: center;
    color: #FFF;
    font-size: 40px;
    right: 0;
    left: 0;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

.SVGContainer {
	position: fixed;
	height: 100%;
	width: 100%;
}
